---
layout: home
title: We’re helping people to change their communities
summary: Making positive community change possible
hero-copy: ""
hero-link-url: "/about/"
hero-link-copy: "Find out more"
hero-classes: "amber"
permalink: /index.html
---

This quarter saw a big increase in the number of people involved in the project, including an additional 20 people taking part in the CCB project in South Wigston.

27 kickstarters are currently developing projects, including in Hastings ward where the CCB project has been supporting local residents to set up the ‘Stair Fairies’ project, which is bringing volunteers together to clean communal areas of residential flats so that they are safe and pleasant for community members.

## Test

{% include box.html title="Call to action" text="text" buttontext="test" url="/banana" class="box-amber"  %}

{% include fb.html %}