.page-home {
	.teasers-container {
		background: whitesmoke;
		padding-top: $gutter;
		text-align: center;
		h3 a {
			color: $green;
			font-size: 1.1em;
		}
		a {
			color: $dark-gray;
		}
		.teaser {
			@include media($mobile) {
				height: auto;
			}
			@include media($tablet) {
				height: 20em;
			}
		}
	}
}


#fb-events-wrapper {
	@include media($mobile) {
		@include fill-parent;
	}
    @include media($tablet) {
      @include span-columns(6 of 12);
	  #fb-events.box {
		  margin-right: 0
	  }
    }
}

#contact-cta-wrapper {
	@include media($mobile) {
		@include fill-parent;
	}
	
    @include media($tablet) {
      @include span-columns(6 of 12);
	  .box.box-primary {
		  margin-left: 0
	  }
    }
}