section.band#projects {
	background: whitesmoke;
	padding-top: $gutter;
	padding-bottom: $gutter; 
}

.page-location {
	h1 {
		margin-bottom: $gutter;
	}
	#content {
		padding: 0 $gutter $gutter $gutter;
	}
	#projects {
		@include clearfix;
		h2 {
			margin-left: $gutter;
			margin-right: $gutter;
		}
	}
}


