

.page-home {
	.hero-copy {
		a.button {
			background: #fff;
			color: $green;
			&:hover, &:focus {
				background: $light-gray;
			}
		}
	}
	.teasers-container {
		background: whitesmoke;
		padding-top: $gutter;
		text-align: center;
		h3 {
			margin-top: 10px;
			margin-bottom: 0;
			a {
				color: $green;
				font-size: 1.1em;
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
		a {
			color: $dark-gray;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
		.teaser {
			@include media($mobile) {
				height: auto;
			}
			@include media($tablet) {
				height: 18em;
			}
		}
	}
}


#fb-events-wrapper {
	@include media($mobile) {
		@include fill-parent;
	}
	@include media($tablet) {
		@include span-columns(6 of 12);
		#fb-events.box {
			margin-right: 0
		}
	}
}

#contact-cta-wrapper {
	@include media($mobile) {
		@include fill-parent;
	}
	
	@include media($tablet) {
		@include span-columns(6 of 12);
		.box.box-primary {
			margin-left: 0
		}
	}
}